<app-header />
<main>
  <ul id="users">
    @for(user of users; track user.id) {
      <li> 
        <app-user
          [user]="user" [selected]="user.id === selectedUserId"
          (select)="onSelectUser($event)"
        />
      </li>
    }
  </ul>
    
     <!-- For Outputing Conditional Contents, we have the @if and @else Angular keywords -->
      @if (selectedUser) {
        <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
      } @else {
        <p id="fallback">Select a user to see their task!</p>
      }
</main>
